body {
    font-family: 'Bai Jamjuree', sans-serif;
    overflow-x: hidden;
}

/*****************SECTIONS TAGS***********************/


#title {
    background-image: url('images/bg-header-desktop.png');
    background-size: 100% 50%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10% 12% 10%;
    width: 100%;
}

#features {
    padding: 0% 12% 8%;
    width: 100%;
}

#spons {
    margin: 6% auto 10%;
    width: 100%;
    overflow-x: hidden;
}

#download {
    margin: 5% auto 10%;
    width: 100%;
}

footer {
    background-color: hsl(201, 11%, 95%);
    padding: 2% 9% 2% 11%;
    width: 100%;
}

/******************CLASSES TAGS***********************/

/****TITLE TAGS****/
#title img {
    margin-bottom: 50px;
}

#title h1 {
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    line-height: 1.8;
}

#title p {
    margin: auto  auto 0px auto;
    font-weight: 400;
    font-size: 18px;
    color: hsl(201, 11%, 66%);
    line-height: 1.5;
    width: 710px;
}

/****FEATURES TAGS****/
#features h2 {
    text-align: center;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    line-height: 1.5;
    margin-bottom: 1%;
}

#features p {
    text-align: center;
    margin: auto  auto 100px auto;
    font-weight: 400;
    font-size: 18px;
    color: hsl(201, 11%, 66%);
    line-height: 1.7;
    width: 710px;
}

#features .sp {
    text-align: left;
    margin-left: 0px;
    width: 397px;
}

.featurediv {
    position: relative; 
    left: 8%;
    padding-top: 8%;
}

#features img {
    position: relative;
    right: 50%;
    width: 150%;
}

#features h4 {
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    line-height: 1.8;
    text-align: left;
}

/****ADVANTAGES TAGS****/
#advantages h2 {
    text-align: center;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    line-height: 1.8;
}

#advantages p {
    text-align: center;
    margin: auto  auto 100px auto;
    font-weight: 400;
    font-size: 18px;
    color: hsl(201, 11%, 66%);
    line-height: 1.5;
    width: 710px;
}

#advantages .image {
    width: 55%;
    margin: auto;
}

#advantages .image img{
    width: 100%;
}

#advantages .row {
    margin: 3% auto;
    width: 1280px;
}

#advantages .row .s {
    position: relative;
    top: 14px;
}

#advantages .row .sp {
    position: relative;
    top: 2px;
}

#advantages .feature .image {
    margin: auto;
    width: 50px;
}

#advantages .feature p {
    width: 405px;
}

#advantages h4 {
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    line-height: 1.8;
    text-align: center;
}

/****SPONS TAGS****/
#spons .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#spons .sponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/****DOWNLOAD TAGS****/
#download h2 {
    text-align: center;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    line-height: 1.8;
}

#download p {
    text-align: center;
    margin: auto  auto 70px auto;
    font-weight: 400;
    font-size: 18px;
    color: hsl(201, 11%, 66%);
    line-height: 1.7;
    width: 710px;
}

/****FOOTER TAGS****/
footer .logo {
    width: 100px;
}

footer .contact {
    display: flex;
    justify-content: end;
    align-items: center;
}

footer .first {
    width: 19%;
}

footer .second {
    width: 49%;
}

footer button {
    border: 0;
    background-color: hsl(201, 11%, 95%);
    margin-left: 4%;
}

footer p {
    margin: 17px auto 33px;
    font-weight: 400;
    font-size: 18px;
    color: hsl(210, 10%, 33%);
    line-height: 1.1;
}

footer p:hover {
    color: hsl(171, 66%, 44%);
}

footer .second a {
    text-decoration: none;
}

footer i {
    color: rgb(76, 84, 92);
}

footer i:hover {
    color: hsl(171, 66%, 57%);
}

/****BUTTONS TAGS****/
.btn1 {
    border-radius: 45px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: hsl(171, 66%, 44%);
    padding: 13px 35px 13px 35px;
    text-decoration: none;
    box-shadow: 0 4px 8px hsl(171, 66%, 74%);
  }
  
.btn1:hover {
    background-color: hsl(171, 66%, 57%);
    color: #ffffff;
    text-decoration: none;
}

.btn2 {
    box-shadow: 0 4px 8px hsl(233, 100%, 89%);
    border-radius: 45px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: hsl(233, 100%, 69%);
    padding: 13px 35px 13px 35px;
    text-decoration: none;
}
  
.btn2:hover {
    background-color: hsl(233, 100%, 82%);
    color: #ffffff;
    text-decoration: none;
}

/****RESPONSIVE TAGS****/
@media screen {
    .butteons {
        width: 506px; 
        margin: 60px auto auto;
    }    
}

@media only screen and (max-width: 1368px)
{
    #title {
        padding: 10%;
    }
    #advantages .image {
        width: 74%;
    }

    #advantages .row {
        width: 340px;
    }

    #advantages .feature {
        width: 100%;
    }

    #download {
        margin-bottom: 235px;
    }
}

@media only screen and (max-width: 1291px)
{
    footer .second .f {
        width: 50%;
    }

    footer .third {
        width: 30%;
    }
}

@media only screen and (max-width: 1057px)
{
    #title p {
        width: 667px;
    }

    #features p {
        width: 667px;
    }

    #advantages p {
        width: 667px;
    }

    #download p {
        width: 667px;
    }
}

@media only screen and (max-width: 981px)
{
    #spons .f {
        margin-bottom: 8%;
    }
}

@media only screen and (max-width: 977px)
{
    #features img {
        right: 0%;
        width: 100%;
    }

    #features h2 {
        margin-bottom: 6%;
    }

    #features h4 {
        text-align: center;
        margin: 15% auto 2%;
    }

    #features .sp {
        text-align: center;
        margin: auto;
    }

    .featurediv {
        left: 0%;
    }

    #advantages {
        margin-top: 24%;
    }

    #advantages h2 {
        margin-bottom: 5%;
        padding-left: 12%;
        padding-right: 12%;
    }
}

@media only screen and (max-width: 945px)
{
    #title {
        background-image: url(images/bg-header-mobile.png);
    }

    #title p {
        width: 605px;
    }

    #features p {
        width: 605px;
    }

    #advantages p {
        width: 605px;
    }

    #advantages .feature p {
        width: 295px;
    }

    #spons {
        margin-bottom: 14%;
    }

    #download p {
        width: 605px;
    }
}

@media only screen and (max-width: 834px)
{
    footer .first {
      margin-top: 10%;
      margin-bottom: 10%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    footer .first img {
        width: 75px;
    }

    footer .second {
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .second .f {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .third {
        margin-bottom: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 816px)
{
    footer p {
        text-align: center;
    }
}

@media only screen and (max-width: 799px)
{
    #title {
        padding-top: 160px; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }

    #title p {
        width: 443px;
    }

    #title .butteons .but {
        padding-left: 0px;
    }

    #features p {
        width: 443px;
    }

    #advantages p {
        width: 443px;
    }

    #download h2 {
        margin-bottom: 4%;
        padding-left: 12%;
        padding-right: 12%;
    }

    #download p {
        width: 443px;
    }

    #advantages .image {
        width: 83%;
    }

    #spons .sponsor {
        margin-bottom: 18%;
    }

    .btn1 {
        width: 295px;
        margin-bottom: 25px;
    }

    .btn2 {
        width: 295px;
    }

    .butteons {
        width: 311px;
    }

    footer .second {
        margin-bottom: 2%;
    }
}

@media only screen and (max-width: 749px)
{
    #spons {
        margin-bottom: 24%;
    }
}

@media only screen and (max-width: 654px)
{
    #title p {
        width: 267px;
    }

    #features p {
        width: 267px;
    }

    #advantages p {
        width: 267px;
    }

    #download p {
        width: 267px;
    }
}

@media only screen and (max-width: 604px)
{
    #features {
        padding-top: 12%;
    }
}

@media only screen and (max-width: 562px)
{
    #advantages {
        margin-top: 35%;
    }
}

@media only screen and (max-width: 528px)
{
    #features .sp {
        width: 257px;
    }

    #advantages .image {
        width: 93%;
    }
}
